<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView DefaultLayout="@typeof(IndexLayout)" RouteData="@routeData">
                <NotAuthorized>
                        You aren't authorized
                </NotAuthorized>
            </AuthorizeRouteView>
            @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(IndexLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>